{
  "openapi": "3.0.3",
  "info": {
    "title": "GOG API",
    "description": "REST API specification for GOG (Good Old Games) platform integration including authentication, library management, game information, downloads, and cloud saves. Based on GameNative implementation.",
    "version": "1.0.0",
    "contact": {
      "name": "GameNative",
      "url": "https://github.com/GameNative"
    }
  },
  "servers": [
    {
      "url": "https://api.gog.com",
      "description": "GOG API Server"
    },
    {
      "url": "https://auth.gog.com",
      "description": "GOG Authentication Server"
    },
    {
      "url": "https://embed.gog.com",
      "description": "GOG Embed Server"
    },
    {
      "url": "https://content-system.gog.com",
      "description": "GOG Content System \u2014 build metadata, secure links, dependency open links"
    },
    {
      "url": "https://cloudstorage.gog.com",
      "description": "GOG Cloud Storage"
    },
    {
      "url": "https://gog-cdn-fastly.gog.com",
      "description": "GOG CDN (Fastly) \u2014 depot manifests and game chunk downloads. Time-limited tokens embedded in URLs."
    },
    {
      "url": "https://remote-config.gog.com",
      "description": "GOG Remote Config \u2014 cloud save location configuration (unauthenticated)"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth2 authentication endpoints. Token exchange uses GET with credentials in query params (GOG-specific pattern)."
    },
    {
      "name": "Library",
      "description": "User library management"
    },
    {
      "name": "Games",
      "description": "Game information and details"
    },
    {
      "name": "Content System",
      "description": "Build metadata, secure CDN links, and dependency management via content-system.gog.com"
    },
    {
      "name": "CDN",
      "description": "GOG CDN (gog-cdn-fastly.gog.com) for depot manifests and game chunk downloads. URLs include embedded time-limited auth tokens obtained from the secure_link API."
    },
    {
      "name": "Cloud Saves",
      "description": "Cloud save synchronization via cloudstorage.gog.com. NOTE: URL path order is /v1/{userId}/{clientId} \u2014 userId comes first."
    },
    {
      "name": "Remote Config",
      "description": "Unauthenticated remote configuration for cloud save locations"
    }
  ],
  "paths": {
    "/auth": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Initialize OAuth2 flow",
        "description": "Initiates the OAuth2 authorization flow. Returns HTML login page that redirects to redirect_uri with authorization code upon success. The client generates a random 64-char hex state token for CSRF protection.",
        "operationId": "initOAuth",
        "servers": [
          {
            "url": "https://auth.gog.com"
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "46899977096215655",
            "description": "OAuth2 client ID (Galaxy app client ID)"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://embed.gog.com/on_login_success?origin=client"
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "galaxy"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "CSRF protection token \u2014 64-char random hex string generated by client"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML login page"
          },
          "302": {
            "description": "Redirect to redirect_uri with ?code=...&state=... parameters"
          }
        }
      }
    },
    "/token": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Exchange authorization code or refresh token",
        "description": "Exchanges authorization code for access/refresh tokens, or uses a refresh token to get new tokens. NOTE: This is a GET request with credentials in query parameters \u2014 not a POST with an Authorization header. Used for both Galaxy app tokens (client_id=46899977096215655) and game-specific tokens (game's own client_id/client_secret from the build manifest).",
        "operationId": "exchangeToken",
        "servers": [
          {
            "url": "https://auth.gog.com"
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "46899977096215655",
            "description": "Galaxy app client ID, or game-specific client ID for game token refresh"
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "9d85c43b1482497dbbce61f6e4aa173a433796eeae2ca8c5f6129f2dc4de46d9"
          },
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "authorization_code",
                "refresh_token"
              ]
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required when grant_type=authorization_code"
          },
          {
            "name": "refresh_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required when grant_type=refresh_token"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required when grant_type=authorization_code. Must match the URI used in /auth."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful token exchange",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/data/games": {
      "get": {
        "tags": [
          "Library"
        ],
        "summary": "Get owned game IDs",
        "description": "Returns list of game IDs (integers) owned by the authenticated user.",
        "operationId": "getOwnedGames",
        "servers": [
          {
            "url": "https://embed.gog.com"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of owned game IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnedGamesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{gameId}": {
      "get": {
        "tags": [
          "Games"
        ],
        "summary": "Get game details",
        "description": "Returns detailed metadata about a specific game.",
        "operationId": "getGameDetails",
        "servers": [
          {
            "url": "https://api.gog.com"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1207658930"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "downloads,description,screenshots",
            "description": "Comma-separated expansion fields. Known values: downloads, description, screenshots, videos, related_products, changelog"
          }
        ],
        "responses": {
          "200": {
            "description": "Game details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameDetails"
                }
              }
            }
          },
          "404": {
            "description": "Game not found"
          }
        }
      }
    },
    "/products/{gameId}/os/{platform}/builds": {
      "get": {
        "tags": [
          "Content System"
        ],
        "summary": "Get available builds for a game",
        "description": "Returns build metadata. The most recent build's `link` is a time-limited URL for downloading the compressed build manifest. Request generation=2 first; fall back to generation=1 if no Gen 2 builds exist.",
        "operationId": "getBuildsForGame",
        "servers": [
          {
            "url": "https://content-system.gog.com"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "osx",
                "linux"
              ]
            }
          },
          {
            "name": "generation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "Manifest generation. Use 2 (default), fall back to 1 if no Gen 2 builds."
          }
        ],
        "responses": {
          "200": {
            "description": "Build list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/secure_link": {
      "get": {
        "tags": [
          "Content System"
        ],
        "summary": "Get secure CDN download links",
        "description": "Returns time-limited CDN base URL templates (url_format + parameters). Client substitutes {key} -> value and un-escapes \\/ -> / to build the final CDN base URL for downloading chunks or Gen 1 slices.",
        "operationId": "getSecureLink",
        "servers": [
          {
            "url": "https://content-system.gog.com"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2"
            }
          },
          {
            "name": "generation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "2 for Gen 2 game files. Omit for Gen 1 type=depot requests."
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "/ for Gen 2 game files; /{platform}/{timestamp}/ for Gen 1; /patches/store for patches"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "depot"
              ]
            },
            "description": "Required for Gen 1 requests"
          },
          {
            "name": "root",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required for patch secure links"
          }
        ],
        "responses": {
          "200": {
            "description": "Secure CDN URL templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecureLinkResponse"
                }
              }
            }
          }
        }
      }
    },
    "/open_link": {
      "get": {
        "tags": [
          "Content System"
        ],
        "summary": "Get dependency CDN open link",
        "description": "Returns CDN URL templates for accessing the dependency store (same format as secure_link). Used to build the base URL for the dependency repository index.",
        "operationId": "getDependencyOpenLink",
        "servers": [
          {
            "url": "https://content-system.gog.com"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "generation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 2
            }
          },
          {
            "name": "_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "/dependencies/store/"
          }
        ],
        "responses": {
          "200": {
            "description": "CDN URL templates for dependency store",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecureLinkResponse"
                }
              }
            }
          }
        }
      }
    },
    "/content-system/v2/meta/{hash01}/{hash23}/{fullHash}": {
      "get": {
        "tags": [
          "CDN"
        ],
        "summary": "Fetch Gen 2 depot manifest",
        "description": "Downloads a compressed (zlib/gzip) Gen 2 depot manifest. Path segments: hash01=hash[0:2], hash23=hash[2:4], fullHash=full hash. Requires Bearer auth.",
        "operationId": "fetchDepotManifestV2",
        "servers": [
          {
            "url": "https://gog-cdn-fastly.gog.com"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hash01",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "First 2 hex chars of the manifest hash"
          },
          {
            "name": "hash23",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Characters 2-4 of the manifest hash"
          },
          {
            "name": "fullHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compressed depot manifest JSON. Structure: depot.items[] containing DepotFile (path, md5, sha256, flags[], productId, chunks[{compressedMd5, md5, size, compressedSize}]), DepotDirectory (path), or DepotLink (path, target) entries.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/content-system/v1/manifests/{productId}/{platform}/{timestamp}/{manifestHash}": {
      "get": {
        "tags": [
          "CDN"
        ],
        "summary": "Fetch Gen 1 depot manifest",
        "description": "Downloads a Gen 1 depot manifest as plain (uncompressed) JSON. URL parameters are derived from the Gen 1 build manifest's productTimestamp field and depot manifest references. Requires Bearer auth.",
        "operationId": "fetchDepotManifestV1",
        "servers": [
          {
            "url": "https://gog-cdn-fastly.gog.com"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "osx",
                "linux"
              ]
            }
          },
          {
            "name": "timestamp",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "productTimestamp from the Gen 1 build manifest"
          },
          {
            "name": "manifestHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gen 1 depot file list JSON (uncompressed). depot.files[] structure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Gen 1 depot manifest \u2014 depot.files[] structure"
                }
              }
            }
          }
        }
      }
    },
    "/content-system/v2/dependencies/meta/{hash01}/{hash23}/{fullHash}": {
      "get": {
        "tags": [
          "CDN"
        ],
        "summary": "Fetch dependency depot manifest",
        "description": "Downloads a compressed dependency depot manifest. No authentication required \u2014 this is an open CDN endpoint. Same compressed JSON format as the game depot manifest.",
        "operationId": "fetchDependencyDepotManifest",
        "servers": [
          {
            "url": "https://gog-cdn-fastly.gog.com"
          }
        ],
        "parameters": [
          {
            "name": "hash01",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "First 2 hex chars of the hash"
          },
          {
            "name": "hash23",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Characters 2-4 of the hash"
          },
          {
            "name": "fullHash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compressed dependency depot manifest (same structure as Gen 2 depot manifest)",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/content-system/v2/store/{hash01}/{hash23}/{compressedMd5}": {
      "get": {
        "tags": [
          "CDN"
        ],
        "summary": "Download Gen 2 game chunk",
        "description": "Downloads a compressed game data chunk. URL is built from the secure_link base URL + this path + time-limited auth query params. MD5-verified after decompression.",
        "operationId": "downloadChunkV2",
        "servers": [
          {
            "url": "https://gog-cdn-fastly.gog.com"
          }
        ],
        "parameters": [
          {
            "name": "hash01",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "First 2 hex chars of compressedMd5"
          },
          {
            "name": "hash23",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Characters 2-4 of compressedMd5"
          },
          {
            "name": "compressedMd5",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "MD5 of compressed chunk (from DepotFile.chunks[].compressedMd5)"
          },
          {
            "name": "CDN auth params",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Time-limited auth tokens from secure_link response embedded in the CDN URL"
          }
        ],
        "responses": {
          "200": {
            "description": "zlib-compressed chunk bytes. MD5-verified post-decompression against chunks[].md5.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/main.bin": {
      "get": {
        "tags": [
          "CDN"
        ],
        "summary": "Download Gen 1 file slice (range request)",
        "description": "Downloads a specific byte range of a Gen 1 game installer using HTTP Range. URL is secure_link base URL with /main.bin appended plus auth query params. User-Agent must be 'GOG Galaxy'. MD5-verified against depot manifest hash.",
        "operationId": "downloadSliceV1",
        "servers": [
          {
            "url": "https://gog-cdn-fastly.gog.com"
          }
        ],
        "parameters": [
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "GOG Galaxy"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bytes=0-1048575",
            "description": "Byte range: bytes={offset}-{offset+size-1}"
          },
          {
            "name": "CDN auth params",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Time-limited auth tokens from secure_link response"
          }
        ],
        "responses": {
          "206": {
            "description": "Partial content \u2014 raw bytes for the requested range",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/components/galaxy_client/clients/{clientId}": {
      "get": {
        "tags": [
          "Remote Config"
        ],
        "summary": "Get cloud save location configuration",
        "description": "Returns remote configuration for a game client including cloud save location paths. Unauthenticated endpoint. Client hardcodes platform to 'Windows' since games run via Wine.",
        "operationId": "getRemoteConfig",
        "servers": [
          {
            "url": "https://remote-config.gog.com"
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Game-specific client ID (from build manifest)"
          },
          {
            "name": "component_version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2.0.45"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Remote configuration including cloud save locations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/{userId}/{clientId}": {
      "get": {
        "tags": [
          "Cloud Saves"
        ],
        "summary": "List cloud save files",
        "description": "Returns a JSON array of all cloud save files for a game and user. NOTE: path order is /v1/{userId}/{clientId} \u2014 userId comes before clientId. The hash 'aadd86936a80ee8a369579c3926f1b3c' is a deletion marker. Client filters by dirname prefix.",
        "operationId": "listCloudSaves",
        "servers": [
          {
            "url": "https://cloudstorage.gog.com"
          }
        ],
        "security": [
          {
            "GameBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Game-specific client ID"
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GOGGalaxyCommunicationService/2.0.13.27 (Windows_32bit) dont_sync_marker/true installation_source/gog"
          },
          {
            "name": "X-Object-Meta-User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GOGGalaxyCommunicationService/2.0.13.27 (Windows_32bit) dont_sync_marker/true installation_source/gog"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON array of cloud save file entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CloudSaveFileEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/{userId}/{clientId}/{dirname}/{relativePath}": {
      "get": {
        "tags": [
          "Cloud Saves"
        ],
        "summary": "Download cloud save file",
        "description": "Downloads a specific cloud save file. NOTE: path order is userId then clientId.",
        "operationId": "downloadCloudSave",
        "servers": [
          {
            "url": "https://cloudstorage.gog.com"
          }
        ],
        "security": [
          {
            "GameBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dirname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Save location name from remote config (e.g. 'Documents/My Games/GameName')"
          },
          {
            "name": "relativePath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Relative file path within the save location"
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GOGGalaxyCommunicationService/2.0.13.27 (Windows_32bit) dont_sync_marker/true installation_source/gog"
          },
          {
            "name": "X-Object-Meta-User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GOGGalaxyCommunicationService/2.0.13.27 (Windows_32bit) dont_sync_marker/true installation_source/gog"
          }
        ],
        "responses": {
          "200": {
            "description": "Raw file bytes",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Cloud Saves"
        ],
        "summary": "Upload cloud save file",
        "description": "Uploads a raw cloud save file. X-Object-Meta-LocalLastModified should be the file's last modified time in Unix seconds. NOTE: Files are not gzip-compressed before upload (raw bytes).",
        "operationId": "uploadCloudSave",
        "servers": [
          {
            "url": "https://cloudstorage.gog.com"
          }
        ],
        "security": [
          {
            "GameBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dirname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "relativePath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GOGGalaxyCommunicationService/2.0.13.27 (Windows_32bit) dont_sync_marker/true installation_source/gog"
          },
          {
            "name": "X-Object-Meta-User-Agent",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "GOGGalaxyCommunicationService/2.0.13.27 (Windows_32bit) dont_sync_marker/true installation_source/gog"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/octet-stream"
            }
          },
          {
            "name": "X-Object-Meta-LocalLastModified",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "File last-modified time in Unix seconds (file.lastModified() / 1000 as string)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful"
          },
          "204": {
            "description": "Upload successful (no content)"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Galaxy app OAuth2 access token (client_id=46899977096215655)"
      },
      "GameBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Game-specific OAuth2 access token obtained by refreshing with the game's own client_id/client_secret from the build manifest"
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          },
          "token_type": {
            "type": "string",
            "example": "bearer"
          },
          "session_id": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "description": "Present on error responses"
          },
          "error_description": {
            "type": "string",
            "description": "Present on error responses"
          }
        },
        "required": [
          "access_token",
          "refresh_token",
          "user_id",
          "expires_in"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      },
      "OwnedGamesResponse": {
        "type": "object",
        "properties": {
          "owned": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of owned game IDs (integers)"
          }
        },
        "required": [
          "owned"
        ]
      },
      "GameDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "is_secret": {
            "type": "boolean"
          },
          "game_type": {
            "type": "string"
          },
          "release_date": {
            "type": "string",
            "format": "date-time"
          },
          "images": {
            "type": "object",
            "properties": {
              "background": {
                "type": "string",
                "format": "uri"
              },
              "logo": {
                "type": "string",
                "format": "uri"
              },
              "logo2x": {
                "type": "string",
                "format": "uri"
              },
              "icon": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "developers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "publisher": {
            "description": "May be a string or an object with a name field",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            ]
          },
          "genres": {
            "type": "array",
            "description": "Array of genre objects or plain strings",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          },
          "languages": {
            "type": "object",
            "description": "Map of language code to language name",
            "additionalProperties": {
              "type": "string"
            }
          },
          "description": {
            "description": "May be a string or an object with a lead field",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "properties": {
                  "lead": {
                    "type": "string"
                  }
                }
              }
            ]
          },
          "downloads": {
            "type": "object",
            "properties": {
              "installers": {
                "type": "array",
                "description": "Client uses installers[0].total_size for disk size estimate",
                "items": {
                  "$ref": "#/components/schemas/Installer"
                }
              }
            }
          },
          "content_system_compatibility": {
            "type": "object",
            "properties": {
              "windows": {
                "type": "boolean"
              },
              "osx": {
                "type": "boolean"
              },
              "linux": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "Installer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "os": {
            "type": "string",
            "enum": [
              "windows",
              "osx",
              "linux"
            ]
          },
          "language": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "total_size": {
            "type": "integer",
            "format": "int64"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "size": {
                  "type": "integer",
                  "format": "int64"
                },
                "downlink": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        }
      },
      "BuildMetadata": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "description": "Builds ordered newest-first. Use items[0].link to download the build manifest.",
            "items": {
              "type": "object",
              "properties": {
                "build_id": {
                  "type": "string"
                },
                "product_id": {
                  "type": "string"
                },
                "os": {
                  "type": "string"
                },
                "branch": {
                  "type": "string",
                  "nullable": true
                },
                "version_name": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "public": {
                  "type": "boolean"
                },
                "date_published": {
                  "type": "string",
                  "format": "date-time"
                },
                "generation": {
                  "type": "integer",
                  "description": "1 or 2"
                },
                "link": {
                  "type": "string",
                  "format": "uri",
                  "description": "Time-limited URL to download the compressed build manifest JSON"
                },
                "legacy_build_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "Gen 1 only. Used to construct productTimestamp for Gen 1 CDN manifest URLs."
                }
              }
            }
          }
        }
      },
      "BuildManifest": {
        "type": "object",
        "description": "Parsed from zlib/gzip-compressed JSON at items[0].link. Shared between Gen 1 and Gen 2 with some Gen 1-only fields.",
        "properties": {
          "baseProductId": {
            "type": "string"
          },
          "installDirectory": {
            "type": "string"
          },
          "scriptInterpreter": {
            "type": "boolean"
          },
          "clientSecret": {
            "type": "string",
            "description": "Game-specific OAuth2 client secret. Used with the game's client_id for cloud save token refresh."
          },
          "dependencies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dependency IDs required by this game"
          },
          "depots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepotRef"
            }
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "productId": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "temp_executable": {
                  "type": "string"
                },
                "temp_arguments": {
                  "type": "string"
                }
              }
            }
          },
          "productTimestamp": {
            "type": "string",
            "description": "Gen 1 only. Used to build Gen 1 depot manifest CDN URLs."
          }
        }
      },
      "DepotRef": {
        "type": "object",
        "description": "Reference to a depot within a build manifest",
        "properties": {
          "productId": {
            "type": "string"
          },
          "manifest": {
            "type": "string",
            "description": "Manifest hash used to fetch the depot manifest from CDN"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "compressedSize": {
            "type": "integer",
            "format": "int64"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "osBitness": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DependencyDepot": {
        "type": "object",
        "description": "Entry in the dependency manifest's depots array",
        "properties": {
          "dependencyId": {
            "type": "string"
          },
          "readableName": {
            "type": "string"
          },
          "manifest": {
            "type": "string",
            "description": "Hash for fetching the dependency depot manifest from CDN"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "compressedSize": {
            "type": "integer",
            "format": "int64"
          },
          "signature": {
            "type": "string"
          },
          "internal": {
            "type": "boolean",
            "description": "JSON field name is 'internal' not 'isInternal'"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "osBitness": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "executable": {
            "type": "object",
            "nullable": true,
            "properties": {
              "path": {
                "type": "string"
              },
              "arguments": {
                "type": "string"
              }
            }
          }
        }
      },
      "SecureLinkResponse": {
        "type": "object",
        "description": "CDN URL templates with time-limited auth tokens. Client interpolates {key} -> value in url_format and un-escapes backslash-slash to produce the final CDN base URL.",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url_format": {
                  "type": "string",
                  "description": "URL template with {param} placeholders"
                },
                "parameters": {
                  "type": "object",
                  "description": "Key-value pairs substituted into url_format",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "url_format",
                "parameters"
              ]
            }
          }
        },
        "required": [
          "urls"
        ]
      },
      "RemoteConfigResponse": {
        "type": "object",
        "description": "Remote configuration for a game client. Client always reads content.Windows since games run via Wine.",
        "properties": {
          "content": {
            "type": "object",
            "properties": {
              "Windows": {
                "type": "object",
                "properties": {
                  "cloudStorage": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "locations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Save location identifier used as dirname in cloud storage paths"
                            },
                            "location": {
                              "type": "string",
                              "description": "Windows-style save path (may contain environment variable placeholders)"
                            }
                          },
                          "required": [
                            "name",
                            "location"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CloudSaveFileEntry": {
        "type": "object",
        "description": "Single file entry in the cloud save listing array. The deletion marker hash 'aadd86936a80ee8a369579c3926f1b3c' means the file was deleted.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full path: dirname/relativePath. Client filters by dirname prefix."
          },
          "hash": {
            "type": "string",
            "description": "MD5 of file content. aadd86936a80ee8a369579c3926f1b3c = deletion marker."
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of last modification"
          }
        },
        "required": [
          "name",
          "hash",
          "last_modified"
        ]
      }
    }
  }
}